<section class="hero">
  <div class="container hero-container">
    <div>
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam
        tempore modi cumque. Laudantium fugiat reiciendis corrupti. Asperiores
        optio ex accusamus eveniet natus laudantium, doloribus, ut temporibus
        accusantium, expedita soluta illum.
      </p>
      <ul class="hero-btn-list">
        <li><button type="button" class="hero-btn-start"></button></li>
        <li><button type="button" class="hero-btn-start"></button></li>
      </ul>
    </div>
    <img src="../img/vite-logo.png" alt="hero-img" width="610" height="555">
  </div>
</section>
