<section>
    <div class="container">
        <h2></h2>
        <ul>
            <li class="product-item">
                <h3 class="product-item-title">First click tests</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, ducimus?</p>
            </li>

            <li class="product-item">
                <h3 class="product-item-title">Design surveys</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, quibusdam!</p>
            </li>
            <li class="product-item">
                <h3 class="product-item-title">Preference tests</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, ex!</p>
            </li>
            <li class="product-item">
                <h3 class="product-item-title">Five second tests</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, architecto.</p>
            </li>
        </ul>
        <button type="button">sign up now</button>
    </div>
</section>

